@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../public/assets/background.svg");
  background-repeat:no-repeat;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  z-index: -1;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;}

.search_input {
  @apply block rounded-md border border-gray-200 bg-white py-1 pl-2 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}