@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  background-image: url("/assets/background.svg");
  background-repeat:no-repeat;
  position: fixed;
  display: flex;
  justify-content: center;
  /* padding: 120px 24px 160px 24px; */
  pointer-events: none;
  z-index: -1;
}

.card{
  background: linear-gradient(0.14turn, rgb(189, 252, 219), rgba(36, 119, 161, 0.76));

  box-shadow: grey 1px 1px 5px;

  @apply m-3 p-2 flex flex-col justify-center items-center border-2 rounded-3xl border-violet-950 font-montserrat w-80 h-96
}

.card:hover{
  box-shadow: rgb(255, 128, 244) 0px 0px 20px;
}

.navig{
  background: linear-gradient(0.11turn, rgb(174, 142, 255), rgb(101, 255, 191));

  @apply text-cyan-950 text-lg font-montserrat flex z-50 justify-between uppercase sticky top-0
}


/* Shining Card effect */
@keyframes shine {
  from {
    left: -300px;
  }

  to {
    left: 500px;
  }
}

.box {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  overflow: hidden;
}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;

  background: rgba(255, 255, 255, 0.04);
  transform: skewX(-30deg);
  transition: 0.3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-delay: 0s ;
  z-index: -10;

  animation-duration: 2.5s;
  animation-name: shine;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
} 

.box:hover:before {
  background: rgba(255, 255, 255, 0.1);
}

.list_card{
  background : linear-gradient(0.11turn, rgba(174, 142, 255, 0.568), rgba(101, 255, 240, 0.63));
  @apply flex flex-row flex-wrap items-start justify-around border-2 border-emerald-400 mx-5 p-3 rounded-2xl w-full
}

.side_menu{
  background: linear-gradient(0.11turn, rgba(174, 142, 255, 0.836), rgba(101, 255, 191, 0.877));
  @apply font-kanit border-2 border-indigo-300 px-3 h-full rounded-r-xl
}


/* <<< Forms */

.form_label {
  @apply flex flex-col mb-8 p-3 rounded-xl border-yellow-400 border-4
}

.form_login {
  @apply w-4/6 max-w-3xl p-5 mt-12 flex flex-col rounded-xl border-teal-600 border-4
  bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur ; }

.form_signup {
  @apply w-4/6 max-w-3xl min-w-min p-5 mt-12 flex flex-col rounded-xl border-cyan-600 border-4
  bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur ; }

/* Forms >>> */



/* <<< Buttons */

.add_to_cart_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all text-center text-sm h-9 hover:ring-4 hover:ring-white w-full;
}

.add_review_btn {
  @apply rounded-full border border-teal-300 bg-fuchsia-700 py-1.5 px-5 text-white transition-all text-sm h-9 hover:ring-2 hover:ring-cyan-200;
}

.modify_item_btn {
  @apply rounded-full border border-cyan-400 bg-cyan-800 py-1.5 px-5 text-white transition-all text-sm h-9 hover:ring-2 hover:ring-emerald-400;
}

.delete_item_btn {
  @apply rounded-full border border-red-900 bg-red-800 py-1.5 px-5 text-white transition-all text-sm h-9 hover:ring-4 hover:ring-amber-400;
}

.back_home_btn {
  @apply text-cyan-900 rounded-full p-1 border-2 border-cyan-700 bg-white text-center flex items-center justify-center hover:ring-1 hover:ring-emerald-700;
}

.login_btn {
  @apply border-2 px-6 py-1 mx-6 border-emerald-800 bg-emerald-400 rounded-full text-slate-50 font-montserrat hover:ring-4 hover:ring-blue-300
}

.signup_btn {
  @apply border-2 px-6 py-1 mx-6 bg-emerald-700 border-emerald-400 rounded-full text-slate-100 font-montserrat hover:ring-4 hover:ring-cyan-300
}

/* Buttons >>> */



.new_item {
  @apply rounded-full border border-black bg-white my-5 py-1.5 px-5 text-black transition-all text-center text-sm flex items-center justify-center h-9 hover:scale-105;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.form_textarea {
  @apply flex rounded-lg h-12 mb-2 p-3 text-sm text-emerald-800 outline-blue-300 border border-slate-400;
}

.add_category {
  @apply flex rounded-lg h-8 p-2 mx-3 text-sm text-emerald-800 outline-green-700 border border-slate-400 w-4/6;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;}

.search_input {
  @apply block rounded-md border border-gray-200 bg-white py-1 pl-2 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}


.scroll{
  flex-direction: row;
  justify-content:flex-start ;

  overflow-y: hidden;
  overflow-x: scroll;

}
.scroll::-webkit-scrollbar {
  height: 10px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #949494;
  border-radius: 6px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #31a4ac;
}